@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;800&display=swap');

* {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.seccion {
    position: relative;
    width: 900px;
    top:30px;
}

.palabra {
    font-size: 5em;
    font-weight: 800;
}

.parrafo {
    margin: 0;
    margin-bottom: 30px;
    font-size: 1.5em;
    font-weight: 400;
}

.subtitulo1 {
    margin:0;
    font-weight: 800;
    font-size: 1.7em;
}
.autor {
    margin:0;
    margin-top: 70px;
    font-weight: 800;
    font-size: 2em;
}

@media (max-width: 900px) {
    .seccion {
        width: 90%;
    }
    .container{
        height: 1500px;
    }
    .palabra {
        font-size: 4em;
    }
    .parrafo{
        font-size: 1em;
    }
    .subtitulo1 {
        font-size: 1.5em;
    }
    .autor {
        font-size: 1.5em;
    }
}